%div{ 'up-poll': '', 'up-interval': 200 }

- @devices.each do |device|
  .card.m-2
    .card-body.w-auto
      %h5.card-title= device.name

      .card-text
        %h6{class: "current-animation-#{device.id}", 'up-hungry': ''}
          Current Animation: #{device.human_current_animation}

        = render partial: 'devices/form', locals: { device: device }